@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-sidebar-item-active > a { 
    @apply bg-primary-800;
    /* background-color: purple; */
 
    & > svg, span {
        @apply text-white;
    }
 
    &:hover {
        @apply bg-primary-400;
    }
} 

.fi-sidebar-item > a { 
    & > svg, span {
        @apply text-white;
    }
 
    &:hover {
        background-color: white;
        .fi-sidebar-item-label{
                color: purple;
        }
        .fi-sidebar-item-icon{
                color: purple;
        }
    }
} 



.fi-sidebar {
    @apply bg-primary-500;
 
}

.fi-sidebar-header {
    @apply bg-primary-500;
 

}
.fi-topbar {
    @apply bg-primary-200;
 
}

span .fi-badge{
    @apply bg-primary-800;
}

.fi-logo{
    @apply text-white;
}

.fi-sidebar-group-label{
    @apply text-white;
}

.choices__item.choices__item--selectable{
    @apply text-black;
}
